[submodule "math250"]
	path = math250
	url = https://github.com/jeevanshah07/MATH250
[submodule "MATH300"]
	path = MATH300
	url = https://github.com/jeevanshah07/MATH300
[submodule "drpFall2025"]
	path = drpFall2025
	url = https://github.com/jeevanshah07/drpFall2025
